#brand-menu {
    display: none;
}

.brand {
    box-shadow: 0 4px 2px -2px gray;
}

.brand li {
    list-style-type: none;
}

.brand ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 14.5%;
    margin-right: 22%;
    padding: 0.75%;
}

.brand ul>li>a {
    text-decoration: none;
    cursor: pointer;
}

.brand ul>li.has-sub-menu>a::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 27%;
    margin-left: 16px;
    margin-top: -4px;
    border-bottom: 2px solid #1965e1;
    border-right: 2px solid #1965e1;
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
}

.brand ul>li.clicked>a::after {
    transform: rotate(-135deg);
}

.brand ul>li>a:hover,
.brand ul>li.clicked>a {
    border-bottom: 2px solid #0d2ea0;
    text-decoration: none;
}

.brand ul>li.clicked>ul>li>ul>li {
    padding: 10px 20px 10px 15px;
    transition: all .3s ease-in-out;
}

.brand ul>li.clicked>ul>li>ul>li:hover {
    background: rgba(25, 101, 225, .8);
    color: white;
    border-bottom: none;
}

.brand ul>li.clicked>ul>li>ul>li:hover a::after {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.brand ul>li.clicked>ul>li>ul>li>a:hover {
    border-bottom: none;
}

.brand ul>li>ul,
.brand ul>li>ul>li>ul {
    display: none;
}

.brand ul>li.clicked>ul,
.brand ul>li.clicked>ul>li>ul {
    display: block;
}

/* Hide ul that is a child of .has-second-sub-menu.clicked */
.brand .has-second-sub-menu.clicked > ul {
    display: none !important;
}

.brand ul>li.clicked,
.brand ul>li.clicked>ul>li {
    display: flex;
    flex-direction: column-reverse;
}

.brand ul>li.clicked>ul>li {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    position: absolute;
}

.brand ul>li.clicked>ul>li>h3 {
    font-family: 'Catamaran';
    line-height: 20px;
    padding: 10px 25px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    color: #020920
}

.sub-menu a::after {
    display: none;
}

.has-second-sub-menu a {
    position: relative;
}

.brand .has-second-sub-menu a::after,
.brand .has-second-sub-menu.clicked a::after {
    display: block;
    content: '';
    position: absolute;
    right: 5px;
    left: 178px;
    width: 8px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
    border-bottom: 2px solid #1965e1;
    border-right: 2px solid #1965e1;
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
}

.brand .has-second-sub-menu.clicked > a {
    border-bottom: none;
}

.sub-menu > li:first-child {
    width: 20%;
}
