.stay-connected-wrapper {
    /* margin-top: 20%; */

    /* padding: 1.5%; */
    /* max-width: 1140px; */
}

.stay-connected {
    background: var(--grey-shade);
    margin-right: auto;
    margin-left: auto;
    height: 115px;
    padding: 2% 1% 1%;
    margin-top: -7%;
}

.stay-connected-container {
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 20%;
    margin-left: 25%;
}

.stay-connected-container h6 {
    color: var(--light-blue);
    font-size: 18px;
    font-family: 'Catamaran';
}

.stay-connected-container input {
    display: inline;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    width: 42%;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

.stay-connected-container button {
    font-size: 16px;
    background: var(--stay-connected-subscribe);
    color: var(--white);
    border: none;
    padding: 15px;
    display: inline;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-family: 'Helvetica';
    width: 13%;
    margin-left: -3px;
}

.email-form {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
}