.stay-connected-container {
    background: #f5f6f8;
    margin: 0;
    padding: 15px 0 30px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.stay-connected-container h6 {
    color: #0d2ea0;
    font-size: 18px;
    font-family: 'Catamaran';
}

.stay-connected-container input {
    display: inline;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    width: 72%;
}

.stay-connected-container button {
    font-size: 16px;
    background: #248000;
    color: #fff;
    border: none;
    padding: 15px;
    display: inline;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
}