.stay-connected-container {
    background: #f5f6f8;
    margin-right: auto;
    margin-left: auto;
    width: 74%;
    height: 115px;
    padding: 25px 0 23px 0;

}

.stay-connected-container h6 {
    color: #0d2ea0;
    font-size: 18px;
    font-family: 'Catamaran';
}

.stay-connected-container input {
    display: inline;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    width: 72%;
    box-sizing: border-box;
    font-family: Helvetica;
}

.stay-connected-container button {
    font-size: 16px;
    background: #248000;
    color: #fff;
    border: none;
    padding: 15px;
    display: inline;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-family: 'Helvetica';
    width: 20%;
    margin-left: -3px;
}

.stay-connected-wrapper {
    width: 67%;
    padding: 1.5%;
}

.email-form {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
}