.make-business-move {
  margin-top: 150px;
}

.make-business-move>div>div>picture>img {
  width: 1750px;
}

.make-business-move-container {
  position: relative;
}

.make-business-move-container>h6 {
  position: absolute;
  left: 68%;
  margin-top: 200px;
  transform: translate(-50%, -50%);
  color: #071956;
  font-size: 2.5rem;
  line-height: 1.1em;
  font-weight: 400;
  background: rgba(255, 255, 255, .8);
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 90px;
  width: 463px;
  font-family: 'Catamaran';
}

.make-business-move-container>p {
  position: absolute;
  left: 67%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 330px;
  margin-left: 17px;
  background: rgba(255, 255, 255, .8);
  width: 489px;
  padding-left: 62px;
  padding-right: 61px;
  padding-bottom: 60px;
  font-family: Helvetica-light;
}