.lineup-and-products {
    position: relative;
    overflow: hidden; /* Hide the slides that overflow the width of the carousel */
  }
  
  .lineup-and-products-slide {
    display: none; /* Hide all slides by default */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .lineup-and-products-slide[aria-hidden="false"] {
    display: block; /* Show the active slide */
    opacity: 1;
    visibility: visible;
  }
  
  .lineup-and-products-prev, .lineup-and-products-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1965e1; /* Button background color */
    color: white; /* Button text color */
    border: none;
    padding: 10px; /* Button padding */
    transition: background-color 0.3s;
  }
  
  .lineup-and-products-prev:hover, .lineup-and-products-next:hover {
    background-color: #1052bd; /* Darken button background on hover */
  }
  
  .lineup-and-products-prev {
    left: 0; /* Position the "prev" button on the left */
  }
  
  .lineup-and-products-next {
    right: 0; /* Position the "next" button on the right */
  }
  
  .lineup-and-products-prev::after, .lineup-and-products-next::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: translate(-50%, -50%);
  }
  
  .lineup-and-products-prev::after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .lineup-and-products-next::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  