.footer-global-wrapper {
    background-color: var(--dark-blue);
    text-align: center;
    padding: 25px 0 30px;
    color: var(--white);
    height: 63px;
    font-size: 15px;
}

.footer-global-wrapper {
    /* padding-left: 3.5%; */
}

.footer-global-wrapper ul {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}

.footer-global-wrapper li,
.footer-global-wrapper p {
    font-family: Helvetica-light;
    font-size: 14px;
}

.footer-global-wrapper li {
    list-style-type: none;
}

.footer-global-wrapper p {
    padding-top: 0.5%;
    margin-right: 30px;
}