.footer-global-wrapper {
    background-color: var(--dark-blue);
    text-align: center;
    padding: 25px 0;
    color: var(--white);
}

.footer-global-wrapper ul {
    display: flex;
    justify-content: space-around;
}

.footer-global-wrapper li {
    list-style-type: none;
}

.footer-global-wrapper p {
    padding-top: 0.5%;
}