:root {
  /* colors */
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --white: #fff;
  --grey-shade: #f5f6f8;
  --light-blue: #0d2ea0;
  --dark-blue: #020920;
  --sky-blue: #84aef1;
  --stay-connected-subscribe: #248000;

  /* nav height */
  --nav-height: 64px;
}

@media (min-width: 1200px) {
  .home-and-business-menu {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .brand>div {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .brand ul {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .make-business-move-container > p {
    margin-left: 1% !important;
  }

  .card {
    max-width: 1140px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 0px !important;
  }

  .our-product {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .product-support {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .lineup-and-products-slide {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .promo {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom-columns {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .legal-disclaimers {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .stay-connected {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-content-wrapper {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-global {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding-left: 0;
}

body {
  margin: 0;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--white);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

a:any-link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  cursor: pointer;
}
